
html {
  font-family: sans-serif; 
}
body {
  font-family: 'Oswald', sans-serif;
  background-image: linear-gradient(to bottom, #e9e9e9, #d2d1d2, #bcbaba, #a5a4a2, #8e8e8c);
  height: 100vh;
}
.projects {
  margin: 1rem;
  border: 1px solid #ff0062;
}

.projects header {
  background: #ff0062;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finished-projects {
  border-color: #0044ff;
}

#finished-projects header {
  background: #0044ff;
}

.projects h2 {
  margin: 0;
  color: white;
}

.projects ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  max-height: 25vh;
  overflow: scroll;
}

.projects li {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  margin: 1rem;
  background: white;
}

.projects li h2 {
  color: #ff0062;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

#finished-projects li h2 {
  color: #0044ff;
  font-size: 1.5rem;
}

.projects li h3 {
  font-size: 1rem;
}

.project li p {
  margin: 0;
  font-size: 1.2rem;
}

.droppable {
  background: #ffe3ee;
}

#finished-projects .droppable {
  background: #d6e1ff;
}

#user-input {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ff0062;
  background: #f7f7f7;
}
